<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${questionDTO.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/moon.css">
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/moon.js"></script>
</head>
<body>

<!-- 插入导航栏 -->
<div th:insert="~{navigation :: indexHeader}"></div>

<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2><span th:text="${questionDTO.title}"></span></h2>
                <span class="text-desc">
              作者：<span th:text="${questionDTO.user.name}"></span> |
              发布时间：<span th:text="${#calendars.format(questionDTO.gmtCreate,'yyyy-MM-dd HH:m')}"></span> |
              浏览次数：<span th:text="${questionDTO.viewCount}"></span>
          </span>
                <hr>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${questionDTO.description}"
                     style="font-size: large;"></div>
                <br>
                <hr>
                <a th:href="@{'/publish/'+${questionDTO.id}}" class="moon-menu"
                   th:if="${session.user!=null && session.user.id==questionDTO.creator}">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>编辑
                </a>
                <hr>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="media" th:if="${session.user.id!=null}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-thumbnail"
                                 th:src="${session.user.avatarUrl}" alt="当前用户的头像">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="padding-top: 20px;">
                            <span th:text="${session.user.name}"></span>
                        </h4>
                    </div>
                </div>

                <input type="hidden" th:value="${session.user.id}" id="commentator">
                <input type="hidden" th:value="${questionDTO.id}" id="questionId">
                <!--/*@thymesVar id="content" type="string"*/-->
                <textarea class="form-control comment" id="content" rows="6" placeholder="说点什么吧~"></textarea>
                <span class="alert alert-danger" th:text="${error}" th:if="${error!=null}"></span>
                <button type="submit" class="btn btn-success btn-publish" onclick="postComment()">回复</button>

            </div>

        </div>


        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>发起人</h3>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-thumbnail"
                                 th:src="${questionDTO.user.avatarUrl}" alt="问题发布者头像">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span th:text="${questionDTO.user.name}"></span>
                        </h4>
                        <br>
                    </div>
                </div>
                <hr>
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>相关问题</h3>
            </div>
        </div>
    </div>
</div>

</body>
</html>