<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${questionDTO.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/moon.css">
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/moon.js"></script>
</head>
<body>

<!-- 插入导航栏 -->
<div th:insert="~{navigation :: indexHeader}"></div>

<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

            <!--文章内容-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2><span th:text="${questionDTO.title}"></span></h2>
                <span class="text-desc">
              作者：<span th:text="${questionDTO.user.name}"></span> |
              发布时间：<span th:text="${#calendars.format(questionDTO.gmtCreate,'yyyy-MM-dd HH:m')}"></span> |
              浏览次数：<span th:text="${questionDTO.viewCount}"></span>
          </span>
                <hr>
                <br>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${questionDTO.description}"
                     style="font-size: large;"></div>
                <br>
                <br>
                <br>
                <hr>
                <a th:href="@{'/publish/'+${questionDTO.id}}" class="moon-menu"
                   th:if="${session.user!=null && session.user.id==questionDTO.creator}">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>编辑
                    <hr>
                </a>
            </div>

            <!--评论区域-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <br>
                <h3>
                    <span class="glyphicon glyphicon-comment"></span>
                    <span th:text="${questionDTO.commentCount}"></span> 个回复
                </h3>
                <hr style="height:1px;border:none;margin-bottom: 40px;border-top:3px solid #999;">


                <!--评论列表-->
                <div class="media" th:each="comment : ${commentDTOList}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-thumbnail"
                                 th:src="${comment.user.avatarUrl}" alt="问题发布者头像">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading gray-color">
                            <span th:text="${comment.user.name}"></span>
                        </h4>
                        <div style="margin-left: 15px;margin-top: 15px;" th:text="${comment.content}"></div>
                        <div class="gray-color">
                            <span class="glyphicon glyphicon-thumbs-up comment-footer" th:text="${comment.likeCount}"></span>
                            <span class="glyphicon glyphicon-comment comment-footer""></span>
                            <span class="pull-right"
                                  th:text="${#calendars.format(comment.gmtCreate,'yyyy-MM-dd HH:m')}"></span>
                        </div>
                    </div>
                    <hr>
                </div>

            </div>

            <!--回复问题-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_form">
                <hr style="height:1px;border:none;border-top:3px solid #999;">
                <div class="media" th:if="${session.user!=null}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-thumbnail"
                                 th:src="${session.user.avatarUrl}" alt="当前用户的头像">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="padding-top: 20px;">
                            <span th:text="${session.user.name}"></span>
                        </h4>
                    </div>
                </div>
                <!--回复提交表单-->
                <div th:if="${session.user!=null}">
                    <input type="hidden" th:value="${session.user.id}" id="commentator">
                    <input type="hidden" th:value="${questionDTO.id}" id="questionId">
                    <!--/*@thymesVar id="content" type="string"*/-->
                    <textarea class="form-control comment" id="content" rows="6" placeholder="说点什么吧~"></textarea>
                    <span class="alert alert-danger" th:text="${error}" th:if="${error!=null}"></span>
                    <button type="submit" class="btn btn-success btn-publish" onclick="postComment()">回复</button>
                </div>
            </div>

        </div>


        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>发起人</h3>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-thumbnail"
                                 th:src="${questionDTO.user.avatarUrl}" alt="问题发布者头像">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span th:text="${questionDTO.user.name}"></span>
                        </h4>
                        <br>
                    </div>
                </div>
                <hr>
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>相关问题</h3>
            </div>
        </div>
    </div>
</div>

</body>
</html>